.message-input {
    grid-area: 3/1/4/2;
    align-self: end;
}

.send-message-button {
    background: #05728f;
    border: 2px solid #05728f;
    margin: auto;
    display: block;
    width: 200px;
}

input, select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}