.header {
  grid-area: 1/1/2/2;
  display: inline-grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  justify-items: center;
  align-content: center;
  padding: 0 10px;
  font-weight: bold;
  font-size: 20px;
  color:#05728f;
  border-radius: 10px;
  align-items: center;
  
}

.last-message {
  grid-column: 5;
}

@media (max-width:810px){
  .participants,.message-count,.last-message{
    display: none;
  }
}